.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/fondoo.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    color: $color-principal;
    text-align: left;
    div{
        justify-content: left;
        margin-left: 50px;
        }
        h2{
            color: #997922;
        }
        p{
            margin-bottom: 30px;
            margin-top: 30px;
            font-size: 20px;
        }
        hr{
            color: $color-principal;
            border-width: 15px;
            margin: 5px;
        }

}  


.informacion{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    height: 500px;
    color: $color-principal;
    text-align: left;
    div{
        justify-content: left;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        text-align: center;
        h2{

        }
        p{
            margin: 20px;
            margin-left: 10px;

        }
    }
    img{
        height: 500px;
        width: 550px;
        display: flex;
        align-items: center;
        justify-items: center;
        text-align: center;
        margin: 40px;

    }
}

.grid-galeria{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    gap: 22px;
    margin: 20px;
    margin-bottom: 80px;
    div{
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            box-shadow: -1px 10px 42px -14px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: -1px 10px 42px -14px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -1px 10px 42px -14px rgba(0, 0, 0, 0.75);

        }

    }
}

.grid-item{
    position: relative;

    h3{
        position: absolute;
        bottom: 0;
        color: $color-secundario;
        background-color: rgba(0, 0, 0, 0.565);
        width: 100%;
    }

}
.img-4{
    grid-column: span 2;
    grid-column-start: span 2;
    grid-column-end: auto;
}

.img-5{
    grid-row: span 2;
}

.contacto{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url(../img/obscu.jpg);
    background-size: cover;
    height: 1000px;

        div{
            display: flex;
            flex-direction: column;
            text-align: center;
            color: $color-secundario;
        h1{
            color: $color-secundario;
            display: flex;
            flex-direction: column;
            font-size: 100px;

        }
        h2{
            justify-content: center;
            align-items: center;
            padding-right: 30px;
        }
        img {    
                filter: brightness(0) saturate(100%) invert(98%) sepia(7%) saturate(2603%) hue-rotate(317deg) brightness(98%) contrast(131%);
                width: 20px;
                height: 20px;
                align-items: center;
                justify-content: center;
            }

        }
    }

.formulario{
    display: flex;
    text-align: center;
    width: 800pxs;
    justify-content: center;
    form{
        div{
            width: 600px;
            text-align: center;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.418);
            border: 2px solid #f2fab7ad;
            textarea{
                background: transparent;
                color: $color-secundario;
                resize: none;

            }
            input{
                background: transparent;
                color: $color-secundario;
            }
        }

    }
}   

.formulario input::placeholder{
    text-align: center;
    justify-content: center;
}

.formulario textarea::placeholder{
    text-align: center;
    justify-content: center;
}

.nosotros{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url(../img/obscu2.jpg);
    background-size: cover;
    height: 1000px;
    color: $color-secundario;
    div{
        display: flex;
        flex-direction: column;
        text-align: center;

    h2{
        font-size: 40px;
        color: #997922;

    }
    p{
        margin: 30px;
        font-size: 30px;

    }
    }
    img{
        width: 500px;
        height: 500px;
        border-radius: 90%;

    }
}

.nosotros2{
    display: flex;
    justify-content: space-around;
    margin: 40px;
    img{
        width: 500px;
        height: 500px;
        border-radius: 90%;
        
    }
    div{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        h2{
            text-align: center;
            font-size: 50px;
            color: #997922;

            }
            p{
                margin: 20px;
                font-size: 30px;

            
        }
    }
}


.servicios{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url(../img/obscu3.jpg);
    background-size: cover;
    height: 1000px;
    div{
        justify-content: space-between;
        color: $color-secundario;
    }
        h2{
            justify-content: center;
            align-items: center;
            font-size: 80px;
            margin-top: 90px;

        }
        p{
            font-size: 25px;
            margin: 20px;

        }

    }





.titulo{
    text-align: center;
    justify-content: center;
    align-items: center;
    color: $color-secundario;
    h2{
        color: rgb(255, 251, 15);

    }
    div{
        display: inline-block;
        font-size: 18px;
        text-align: center;
        justify-content: space-around;
        padding: 60px;
        color: $color-secundario;
        h3{
            color: $color-terciario;
        }

    }
    

}


